name: Build docs

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    if: ${{ github.repository == 'lume-science/lume-torch' }}
    runs-on: ubuntu-latest
    name:  Build docs
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          cache-dependency-glob: "**/pyproject.toml"

      - name: Set up Python
        run: uv python install 3.12

      - name: Install requirements
        run: uv sync --extra docs

      - name: Build docs
        run: uv run mkdocs build
